<div class="auth-body">
   {{#if errorMessage}}
   <p class="error-message">{{errorMessage}}</p>
   {{/if}}
   <h2>Create your account</h2>
   <form action="/auth/signup" method="POST" class="sign-up-form">
      <label> Name*
         <input type="text" name="name" value="{{name}}"">
      </label>
      <label> Username*
         <input type=" text" name="username" value="{{username}}"">
      </label>
      <label> Email*
         <input type=" email" name="email" value="{{email}}">
      </label>
      <label> Password*
         <input type="password" name="password" value="{{password}}">
      </label>
      <label> Borough*
         <select name="berlinBorough" id="berlinBorough" value="{{location}}">
            {{#each berlinBoroughs}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
         </select>
      </label>
      <p class="small-text">*required fields</p>
      <div class="auth-map-container">
         <h3>Select your location on the map below:</h3>
         <div id='map' class="map"></div>
         <div class="geo-data">
            <label> Latitude
               <input type="floatNumber" name="latitude" id="latitude" {{#if latitude}}value="{{latitude}}" {{else}}
                  value="52.51704" {{/if}} class="small-text" readonly>
            </label>
            <label> Longitude
               <input type="floatNumber" name="longitude" id="longitude" {{#if longitude}}value="{{longitude}}" {{else}}
                  value="13.38792" {{/if}} class="small-text" readonly>
            </label>
         </div>
      </div>
      <button type="submit" class="search-button">Submit</button>
   </form>
</div>
<script src="/js/map.js"></script>
<script src="/js/map-add.js"></script>