<h1>Edit your profile</h1>

<form action="/profile/edit" method="POST">
  <label> Name
    <input type="text" name="name" value={{user.name}}>
  </label>
  <label> Short bio
    <input type="text" name="shortBio" value={{user.shortBio}}>
  </label>
  <br>
  <label> Email
    <input type="email" name="email" value={{user.email}}>
  </label>
  <br>
  <label> Location
    <select name="location" id="location" selected={{user.berlinBorough}}>
      {{#each berlinBoroughs}}
      <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>
  </label>
  <br>
  <label> Latitude
    <input type="floatNumber" name="latitude" id="latitude" value={{user.latitude}} readonly>
  </label>
  <label> Longitude
    <input type="floatNumber" name="longitude" id="longitude" value={{user.longitude}} readonly>
  </label>
  <br>
  <button type="submit">Save</button>
</form>
<div id='map'></div>

<script src="/js/map-edit.js">
</script>