<h1>{{userProfile.username}}</h1>
{{#if isAccountOwner}}
<a href="/profile/{{userProfile.username}}/edit">Edit my profile</a>
{{else}}
<a href="">Contact user</a>
{{/if}}
<br>
<img src="{{userProfile.profilePicture}}" alt="Profile picture for user {{user.username}}">
<br>
Name: {{userProfile.name}}
<br>
Bio: {{userProfile.shortBio}}
<br>
<div id='map'></div>

<h2>Plants from this user</h2>
<ul class="user-plants">
  {{#each userProfile.usersPlants}}
  <li> {{this.commonName}}</li>
  <li> <img src="{{this.picture}}" alt="Picture of {{this.commonName}}"> </li>
  {{/each}}
</ul>
<br>
<script>
  const locationStr = `{{{location}}}`;
  const parsedLocationStr = JSON.parse(locationStr);
</script>
<script src="/js/map.js"></script>
<script src="/js/map-view.js"></script>