<h1>{{userProfile.username}}</h1>
<img src="{{userProfile.profilePicture}}" alt="Profile picture for user {{user.username}}">
<br>
Name: {{userProfile.name}}
<br>
Bio: {{userProfile.shortBio}}
<br>
Location: {{userProfile.latitude}}, {{userProfile.longitude}}


<h2>Plants from this user</h2>
Here we will put the plants the user has posted