<div class="fd-body">
  <section class="fd-search-container">
    <div class="fd-search-content">
      <h1>House of plants</h1>
      <h2>Swap plants, seedlings and more. Create your own urban jungle.</h2>
      <div class="fd-buttons">
        <button><a href="/search/plant">Search plants</a>
        </button>
        {{!-- <button><a href="/search/event">Search events</a>
        </button> --}}
      </div>
    </div>
  </section>
  <section class="fd-plants-container">
    {{#if isAnonymousUser}}
    <header>
      <h2>Plants for grabs in <span class="underline">Berlin</span></h2>
      <a href="/search/plant">See all plants in Berlin</a>
    </header>
    {{else}}
    <header>
      <h2>Plants for grabs in <span class="underline">{{userLocation}}</span></h2>
      <a href="/search/plant">See all plants in {{userLocation}}</a>
    </header>
    {{/if}}
    <p>Check plants available in your area</p>
    <div class="fd-cards-container">
      {{#each plantsInTheArea}}
      <div class="fd-card-plant">
        <a href="/plant/view/{{_id}}"><img src="{{picture}}" alt="Photo of {{commonName}}"></a>
        <h3>{{commonName}}</h3>
        <p class="label-{{availability}}">{{availability}}</p>
      </div>
      {{/each}}
    </div>
  </section>
  {{!-- <section class="fd-events-container">
    <h2>Events you might like</h2>
    <p>Meet people, learn new skills, swap plants!</p>
    <div class="fd-cards-container">
      <div>
        <img src="../images/card-event-unsplash-temp.jpg" alt="">
        <div class="fd-card-event">
          <h3>Event name</h3>
          <p>Borough</p>
          <a href="">View event</a>
        </div>
      </div>
      <div><img src="../images/card-event-unsplash-temp.jpg" alt="">
        <div class="fd-card-event">
          <h3>Event name</h3>
          <p>Borough</p>
          <a href="">View event</a>
        </div>
      </div>
      <div><img src="../images/card-event-unsplash-temp.jpg" alt="">
        <div class="fd-card-event">
          <h3>Event name</h3>
          <p>Borough</p>
          <a href="">View event</a>
        </div>
      </div>
      <div><img src="../images/card-event-unsplash-temp.jpg" alt="">
        <div class="fd-card-event">
          <h3>Event name</h3>
          <p>Borough</p>
          <a href="">View event</a>
        </div>
      </div>
  </section>
  <section class="fd-plants-new-home">
    <h3>XY plants found new home!</h3>
    <p></p>
  </section> --}}
</div>