<h1>Search for a plant</h1>
<form action="/search/plant" method="POST">
  <div class="ap-basic-info">
    <h2>Basic search</h2>
    <label> Seach by plant
      <input type="text" name="name" id="name" placeholder="Search a plant by name">
    </label>
    <label> Location
      <select name="location" id="location">
        <option value="all">Search all locations</option>
        {{#each berlinBoroughs}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </label>
  </div>
  {{!-- <div class="ap-growing-info">
    <h2>Advanced criteria</h2>
    <label> Botanical name
      <input type="text" name="botanicalName">
    </label>
    <br>
    <label> Availability </label>
    {{#each plantAvailability}}
    <input type="checkbox" name="availability-{{this}}" id="availability-{{this}}" value={{this}}>
    <label for="availability-{{this}}">{{this}}</label>
    {{/each}}
    <br>
    <label>Giveaway or exchange?
      {{#each plantGiveawayExchange}}
      <input type="checkbox" name="giveawayOrExchange-{{this}}" id="giveawayOrExchange-{{this}}" value={{this}}>
      <label for="giveawayOrExchange-{{this}}">{{this}}</label>
      {{/each}}
    </label>
    <br>
    <h3>Growing conditions</h3>

    <label> Light </label>
    {{#each plantGrowingLight}}
    <input type="checkbox" name="plantGrowingLight-{{this}}" id="plantGrowingLight-{{this}}" value={{this}}>
    <label for="plantGrowingLight-{{this}}">{{this}}</label>
    {{/each}}
    <br>
    <label> Water </label>
    {{#each plantGrowingWater}}
    <input type="checkbox" name="plantGrowingWater-{{this}}" id="plantGrowingWater-{{this}}" value={{this}}>
    <label for="plantGrowingWater-{{this}}">{{this}}</label>
    {{/each}}
    </label>
    <br>
    <label> Temperature </label>
    {{#each plantGrowingTemperature}}
    <input type="checkbox" name="growingTemperature-{{this}}" id="growingTemperature-{{this}}" value={{this}}>
    <label for="growingTemperature-{{this}}">{{this}}</label> {{/each}}
    <br>
    <label>Plant location </label>
    {{#each plantGrowingLocation}}
    <input type="checkbox" name="growingLocation-{{this}}" id="growingLocation-{{this}}" value={{this}}>
    <label for="growingLocation-{{this}}">{{this}}</label>
    {{/each}}
    </label>
    <br>
  </div> --}}
  <button type="submit">Search</button>
</form>
<h2>Search by radius</h2>
<div id='map'></div>
<br>
<div id="slidecontainer" style="display: none;">
  Increse slider size to filter further
  <br>
  <input type="range" min="0" max="20" value="0" class="slider" id="map-slider">
</div>

<h2>Results</h2>
<ul>
  {{#each foundPlants}}
  <li>
    <a href="/plant/view/{{this._id}}">
      <div>{{this.commonName}}</div>
      <div><img src="{{this.picture}}" alt="Picture of {{this.commonName}}"> </div>
    </a>
  </li>
  {{/each}}
</ul>
<script>
  const plantLocationStr = `{{{plantLocations}}}`;
  const plantParsedLocationStr = JSON.parse(plantLocationStr);
  const userLocationStr = `{{{userLocation}}}`;
  const userParsedLocationStr = JSON.parse(userLocationStr);
</script>
<script src="/js/map.js"></script>
<script src="/js/map-search.js"></script>