<div class="profile-body">
  <h1 class="search-centered underline">Search plants </h1>
  <form class="search-form" action="/search/plant" method="POST">
    <div class="search-fields">
      <label> Search
        <input type="text" name="name" id="name" placeholder="plant name" {{#if searchName}}value="{{searchName}}"
          {{/if}}>
      </label>
      <label> in
        <select name="location" id="location">
          <option value="all"> all locations</option>
          {{#each berlinBoroughs}}
          <option value="{{this.[0]}}" {{#if this.[1]}} selected="" {{/if}}>{{this.[0]}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    {{!-- <div class="ap-growing-info">
      <h2>Advanced criteria</h2>
      <label> Botanical name
        <input type="text" name="botanicalName">
      </label>
      <br>
      <label> Availability </label>
      {{#each plantAvailability}}
      <input type="checkbox" name="availability-{{this}}" id="availability-{{this}}" value={{this}}>
      <label for="availability-{{this}}">{{this}}</label>
      {{/each}}
      <br>
      <label>Giveaway or exchange?
        {{#each plantGiveawayExchange}}
        <input type="checkbox" name="giveawayOrExchange-{{this}}" id="giveawayOrExchange-{{this}}" value={{this}}>
        <label for="giveawayOrExchange-{{this}}">{{this}}</label>
        {{/each}}
      </label>
      <br>
      <h3>Growing conditions</h3>

      <label> Light </label>
      {{#each plantGrowingLight}}
      <input type="checkbox" name="plantGrowingLight-{{this}}" id="plantGrowingLight-{{this}}" value={{this}}>
      <label for="plantGrowingLight-{{this}}">{{this}}</label>
      {{/each}}
      <br>
      <label> Water </label>
      {{#each plantGrowingWater}}
      <input type="checkbox" name="plantGrowingWater-{{this}}" id="plantGrowingWater-{{this}}" value={{this}}>
      <label for="plantGrowingWater-{{this}}">{{this}}</label>
      {{/each}}
      </label>
      <br>
      <label> Temperature </label>
      {{#each plantGrowingTemperature}}
      <input type="checkbox" name="growingTemperature-{{this}}" id="growingTemperature-{{this}}" value={{this}}>
      <label for="growingTemperature-{{this}}">{{this}}</label> {{/each}}
      <br>
      <label>Plant location </label>
      {{#each plantGrowingLocation}}
      <input type="checkbox" name="growingLocation-{{this}}" id="growingLocation-{{this}}" value={{this}}>
      <label for="growingLocation-{{this}}">{{this}}</label>
      {{/each}}
      </label>
      <br>
    </div> --}}
    <div>
      <button class="search-button" type="submit">Search</button> <a href="/search/plant">View all
        plants</a>
    </div>
  </form>
  <div class="results-and-filter vertical-with-mobile">
    <section class="results">
      <h2>Results</h2>
      <ul>
        {{#each foundPlants}}
        <li>
          <a class="search-card-plant" href="/plant/view/{{this._id}}">
            <img src="{{this.picture}}" alt="Picture of {{this.commonName}}">
            <div>{{this.commonName}}</div>
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    <section class="filter">
      <h2>View on map</h2>
      <div id='map' class="map"></div>

      <div id="slidecontainer" style="display: none;">
        <h3>Move slider check the closest results</h3>
        <input type="range" min="0" max="20" value="0" class="slider" id="map-slider">
        <p><span id="slider-value">Move the slider to select radius</span></p>
      </div>
    </section>
  </div>
</div>
</div>
<script>
  const plantLocationStr = `{{{plantLocations}}}`;
  const plantParsedLocationStr = JSON.parse(plantLocationStr);
  const userLocationStr = `{{{userLocation}}}`;
  const userParsedLocationStr = JSON.parse(userLocationStr);
</script>
<script src="/js/map.js"></script>
<script src="/js/map-search.js"></script>