{{!--
To do:
- Add option not to answer the optional questions (e.g. about growing conditions if not known)
--}}

<h1>Edit the plant</h1>
<div class="ap-main-container">
  <form action="/plant/{{foundPlant._id}}/edit" method="POST" enctype="multipart/form-data">
    <div class="ap-basic-info">

      <label> Common name
        <input type="text" name="commonName" value="{{foundPlant.commonName}}">
      </label>
      <br>
      <label> Botanical name
        <input type="text" name="botanicalName" value="{{foundPlant.botanicalName}}">
      </label>
      <br>
      <label> Description
        <input type="text" name="description" value="{{foundPlant.description}}">
      </label>
      <br>
      <label> Availability
        {{#each plantAvailability}}
        <input type="radio" name="availability" id="availability" value={{this.[0]}} {{#if this.[1]}} checked="true"
          {{/if}}>{{this.[0]}}
        </option>
        {{/each}}
      </label>
      <br>
      <label>Giveaway or exchange?
        {{#each plantGiveawayExchange}}
        <input type="radio" name="giveawayOrExchange" id="giveawayOrExchange" value={{this}} checked>{{this}}</option>
        {{/each}}
      </label>
      <br>
    </div>
    <div class="ap-growing-info">
      <h3>Growing conditions</h3>

      <label> Light
        <select name="growingLight" id="growingLight">
          {{#each plantGrowingLight}}
          <option value="{{this}}" checked={{foundPlant.growingLight}}>{{this}}</option>
          {{/each}}
        </select>
      </label>
      <br>
      <label> Water
        <select name="growingWater" id="growingWater">
          {{#each plantGrowingWater}}
          <option value="{{this}}" checked={{foundPlant.growingWater}}>{{this}}</option>
          {{/each}}
        </select>
      </label>
      <br>
      <label> Temperature
        <select name="growingTemperature" id="growingTemperature">
          {{#each plantGrowingTemperature}}
          <option value="{{this}}" checked={{foundPlant.growingTemperature}}>{{this}}</option>
          {{/each}}
        </select>
      </label>
      <br>
      <label>Plant location<select name="growingLocation" id="growingLocation">
          {{#each plantGrowingLocation}}
          <option value="{{this}}" checked={{foundPlant.growingLocation}}>{{this}}</option>
          {{/each}}
        </select>
      </label>
      <br>
      <label> Height
        <input type="text" name="heightOrLength" value={{foundPlant.heightOrLength}}> cm
      </label>
      <br>
      <label> Pot diameter
        <input type="text" name="potDiameter" value={{foundPlant.potDiameter}}> cm
      </label>
      <br>
      <label> Additional info
        <input type="text" name="growingNotes" value={{foundPlant.growingNotes}}>
      </label>
    </div>

    <div class="ap-upload-image">
      <h3>Upload images</h3>
      <img class="plant-image" src="{{foundPlant.picture}}" alt="Plant image">
      <p>Add more images:</p>
      <input type="file" name="plant-image">
    </div>
    <button type="submit">Save plant</button>
  </form>
</div>